<template>
  <div>Child Component</div>
</template>

<script>
import {
  ref,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted,
} from "vue";

export default {
  name: "Child",
  setup() {
    console.log("Child created()");
    onBeforeMount(() => {
      console.log("Child beforeMount()");
    });
    onMounted(() => {
      console.log("Child mounted()");
    });
    onBeforeUpdate(() => {
      console.log("Child beforeUpdate()");
    });
    onUpdated(() => {
      console.log("Child updated()");
    });
    onBeforeUnmount(() => {
      console.log("Child beforeUnmount()");
    });
    onUnmounted(() => {
      console.log("Child unmounted()");
    });
  },
  // beforeCreate() {
  //   console.log("Child beforeCreate()");
  // },
  // created() {
  //   console.log("Child created()");
  // },
  // beforeMount() {
  //   console.log("Child beforeMount()");
  // },
  // mounted() {
  //   console.log("Child mounted()");
  // },
  // beforeUpdate() {
  //   console.log("Child beforeUpdate()");
  // },
  // updated() {
  //   console.log("Child updated()");
  // },
  // beforeUnmount() {
  //   console.log("Child beforeUnmount()");
  // },
  // unmounted() {
  //   console.log("Child unmounted()");
  // },
};
</script>
