.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.font-small {
  font-weight: 600;
}

.font-medium {
  font-size: 24px;
  font-weight: 700;
}

.font-large {
  font-size: 64px;
}

.weight-medium {
  font-weight: 400;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #333333;
}

.mt-8 {
  margin-top: 8rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.footer-list {
  margin-bottom: 10px;
}

.mx-3 {
  margin: 3rem 0;
}

.ml-1 {
  margin-left: 1rem;
}

.px-4 {
  padding: 4rem 0;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.portofolio-image {
  width: 500px;
}

.w-400 {
  width: 400px;
}

.flex-column {
  flex-direction: column;
}

.bg-grey {
  background-color: #fffaf2;
}

.bar {
  width: 100%;
  height: 100%;
  background-color: #f5d6ab;
}

.bar-percentage {
  height: 100%;
  background-color: #c66c49;
}
