@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #066;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header {
  position: relative;
}
.header__hero {
  width: 100%;
  height: 768px;
  object-fit: cover;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(198, 108, 73, 0.3);
  width: 100%;
  height: 768px;
}
.header__title {
  margin-top: 8rem;
}
.header__title--large {
  color: #ffffff;

  font-size: 64px;
}
.header__title--medium {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 400;
}
.header__title--small {
  margin-top: 4rem;
  color: #ffffff;
  text-decoration: underline;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.nav__title {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.nav__menu {
  flex: 2;
}

/* MENU */
.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  color: #ffffff;
  text-decoration: none;
}
.menu__item:hover {
  text-decoration: underline;
}

/* SECTION */
.section {
  padding: 4rem 0;
}
.section__color--grey {
  background-color: #fffaf2;
}
.section__title {
  color: #333333;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 700;
}
.section__subtitle {
  margin-bottom: 2rem;
  font-weight: 600;
}
.section__caption {
  text-align: justify;
}
.section__caption--last {
  margin-top: 2rem;
}

/* SKILLS */
.skills {
  display: flex;
}
.skills__image,
.skills__list {
  flex: 1;
}
.skills__item {
  display: flex;
  margin-bottom: 1rem;
}
.skills__item--first {
  margin-bottom: 3rem;
}
.skills__title {
  flex: 1;
  font-weight: 600;
}
.skills__caption {
  flex: 2;
}
.skills__bar {
  width: 100%;
  height: 100%;
  background-color: #f5d6ab;
}
.skills__bar--percent {
  height: 100%;
  background-color: #c66c49;
}

/* PORTOFLIO */
.portofolio {
  display: flex;
  justify-content: center;
}
.portofolio__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portofolio__image {
  flex: 1;
}
.portofolio__caption {
  text-align: justify;
  width: 400px;
}
.portofolio__svg--size {
  margin-left: 1rem;
}
.portofolio__image--size {
  width: 500px;
}

/* FOOTER */
.footer {
  background-color: #fffaf2;
  padding: 4rem 0;
}
.footer__title {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.footer__sosmed,
.footer__contact {
  flex: 1;
  display: flex;
}
.footer__list {
  flex: 1;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__svg {
  margin-top: 10rem;
  text-align: right;
}

/* ========================================== */

@media (max-width: 600px) {
  /* HEADER */
  .header {
    text-align: center;
  }
  .header__hero {
    height: 300px;
  }
  .header__overlay {
    height: 300px;
  }
  .nav__menu {
    display: none;
  }
  .header__title--large {
    font-size: 20px;
    font-weight: 400;
  }
  .header__title--medium,
  .header__title--small {
    font-size: 16px;
  }
  .header__title,
  .header__title--small {
    margin-top: 2rem;
  }

  /* SECTION */
  .section {
    padding: 2rem 0;
  }
  .section__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section__subtitle {
    text-align: center;
    font-size: 15px;
    margin-bottom: 1rem;
  }
  .section__caption {
    font-size: 14px;
  }
  .section__caption--last {
    margin-top: 1rem;
  }

  /* SKILLS */
  .skills {
    flex-direction: column;
  }
  .skills__image {
    text-align: center;
  }
  .skills__image--size {
    width: 225px;
  }
  .skills__item--first {
    margin: 1rem 0;
  }
  .skills__title,
  .skills__caption {
    font-size: 12px;
  }

  /* PORTOFOLIO */
  .portofolio {
    flex-direction: column;
  }
  .portofolio__caption {
    text-align: center;
    font-size: 14px;
  }
  .portofolio__svg {
    display: none;
  }
  .portofolio__image {
    margin-top: 1rem;
  }
  .portofolio__image--size,
  .portofolio__caption {
    width: 300px;
  }

  /* FOOTER */
  .footer {
    padding: 3rem 0;
  }
  .footer__title {
    text-align: center;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__list--last {
    margin-top: 2rem;
  }
  .footer__item {
    font-size: 14px;
  }
  .footer__svg {
    margin-top: 3rem;
  }
}
