<template>
  <div class="home">
    <h1>Basic Vue</h1>
    <hr />
    <h3>Interpolations</h3>
    <h4>{{ name }}</h4>
    <h4>With mustache : {{ rawHtml }}</h4>
    <h4>With direktif v-html : <span v-html="rawHtml"></span></h4>
    <h3>Binding in Attribute</h3>
    <button>Enable</button>
    <button disabled="true">Disable</button>
    <button v-bind:disabled="disable">Disable</button>
    <button :disabled="disable">Disable</button>
    <hr />
    <h3>Conditionals</h3>
    <div v-if="isAdmin === true">Kamu adalah admin (v-if)</div>
    <div v-else>Kamu adalah user</div>
    <div v-show="isAdmin === true">Kamu adalah admin (v-show)</div>
    <hr />
    <h3>Loops</h3>
    <h4>Data Array</h4>
    <div v-for="(item, index) in dataProduct" :key="item.id">
      Index = {{ index }}, Item = {{ item.name }}
    </div>
    <h4>Data Object</h4>
    <div v-for="(value, name, index) in dataProfile" :key="index">
      Index = {{ index }}, Property = {{ name }}, Value = {{ value }}
    </div>
    <hr />
    <h4>Event Handling</h4>
    <button v-on:click="handleClick('Data')">Click Me !</button>
    <button @click="handleClick('Data')">Click Me !</button>
    <form>
      <!-- event submit tidak lagi memuat ulang halaman -->
      <button v-on:submit.prevent="handleSubmit">Submit Me !</button>
    </form>
    <input
      type="text"
      v-on:keyup.enter="handleSearch"
      placeholder="Search ..."
    />
    <hr />
    <h3>Form Input Binding</h3>
    <input v-model="msg" placeholder="edit saya" />
    <p>Pesan nya adalah : {{ msg }}</p>
    <input v-model.lazy="name" />
    <input v-model.number="age" type="number" />
    <input v-model.trim="msg" />
    <hr />
    <h3>Component</h3>
    <FormInput
      :dataProductName="productName"
      @changeProductName="changeNameProduct"
    />
    <Card title="Meja" @handleDetail="handleDetail" />
    <hr />
    <h3>Computed</h3>
    <div>1. {{ name.split("").reverse().join("") }}</div>
    <div>2. {{ reverseName }}</div>
    <hr />
    <h3>Watchers</h3>
    <div>{{ fullName }}</div>
    <div></div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Card from "@/components/Card.vue";
import FormInput from "@/components/FormInput.vue";

export default {
  // https://forum.vuejs.org/t/why-we-need-to-name-vue-component/30909
  name: "Home",
  components: {
    Card,
    FormInput,
  },
  computed: {
    reverseName() {
      return this.name.split("").reverse().join("");
    },
    // fullName: function () {
    //   return this.firstName + ' ' + this.lastName
    // }
  },
  watch: {
    firstName: function (val) {
      this.fullName = val + " " + this.lastName;
    },
    lastName: function (val) {
      this.fullName = this.firstName + " " + val;
    },
  },
  data: () => {
    return {
      name: "Bagus",
      age: 17,
      msg: "Hello World !",
      rawHtml: "<span>Bagus</span>",
      disable: true,
      isAdmin: false,
      dataProduct: [
        {
          id: 1,
          name: "Meja",
        },
        {
          id: 2,
          name: "Kursi",
        },
        {
          id: 3,
          name: "Kipas",
        },
      ],
      dataProfile: {
        firstName: "Bagus",
        lastName: "Tri",
        age: 17,
      },
      productName: "Sepatu",
      firstName: "Foo",
      lastName: "Bar",
      fullName: "Foo Bar",
    };
  },
  methods: {
    handleClick(data) {
      console.log("Clicked", data);
      alert("Clicked");
    },
    handleSubmit() {
      console.log("Submit");
      alert("Submit");
    },
    handleSearch(event) {
      console.log(event.target.value);
    },
    handleDetail(data) {
      console.log("click detail", data);
    },
    changeNameProduct(data) {
      this.productName = data;
    },
  },
};
</script>
