@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");

h3 {
  color: yellow;
}

p {
  background-color: lightblue;
}
/* tag element = 1 */

.paragraf {
  background-color: lightgreen;
}
/* class = 10 */

#paragraf {
  background-color: lightyellow;
}
/* id = 100 */

/* BOX MODEL */
.box {
  background-color: lime;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 5px solid black;
  /* margin: 10px; */
  /* padding */
  /* padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 30px; */
  /* padding: 15px 25px 20px 30px; */
  /* padding: 15px 20px 25px; */
  /* padding: 15px 20px; */
  /* ------- */
  /* margin */
  /* margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 30px; */
  /* margin: 15px 25px 20px 30px; */
  /* margin: 15px 20px 25px; */
  /* margin: 15px 20px; */
  box-sizing: border-box;
}

.box-2 {
  width: 50px;
  height: 50px;
  background-color: lightsalmon;
}

/* POSITION */
/* top = untuk menggeser dari sisi atas
bottom = untuk menggeser dari sisi bawah
left = untuk menggeser dari sisi kiri
right = untuk menggeser dari sisi kanan */
.container-box {
  border: 1px solid black;
  position: relative;
}

.kotak-1,
.kotak-2,
.kotak-3,
.kotak-4 {
  width: 100px;
  height: 100px;
}

.kotak-5 {
  width: 100%;
  height: 100px;
}

.kotak-1 {
  background-color: lightcoral;
}
.kotak-2 {
  background-color: lightblue;
  /* position: relative;
  top: 20px;
  left: 20px; */
  position: absolute;
  top: 20px;
  left: 20px;
}
.kotak-3 {
  background-color: lightgray;
}
.kotak-4 {
  background-color: lightsalmon;
  position: sticky;
  top: 20px;
}
.kotak-5 {
  background-color: lightyellow;
  position: fixed;
  top: 0;
}

.scroll {
  height: 1000px;
}

/* FLEX */
.container-box-2 {
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header,
.footer {
  height: 50px;
}

.header {
  background-color: lightblue;
}

.footer {
  background-color: lightcoral;
}

.main {
  display: flex;
}

.main-right,
.main-left {
  flex: 1;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: lightseagreen;
  /* height: 100px; */
  flex: 2;
}

.sidebar {
  background-color: lightpink;
  /* height: 150px; */
  flex: 3;
}

.content {
  background-color: lightyellow;
  /* height: 200px; */
  flex: 4;
}

.extra-content {
  background-color: lightsteelblue;
  /* height: 50px; */
  flex: 2;
}

.section {
  display: flex;
}

.related-images {
  flex: 2;
  background-color: lightcyan;
}

.related-post {
  flex: 1;
  background-color: lightpink;
}

/* FONT */
p.font {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  /* px | % | em */
  font-size: 20px;
  font-weight: 900;
  /* font-variant: small-caps; */
  font-style: italic;
  line-height: 50px;
}

p.text {
  /* warna = red | hexadecimal = #000000 | rgb = rgb(255, 0, 0) | rgba */
  color: rgba(255, 0, 0, 0.5);
  /* left | right | center | justify */
  text-align: left;
  text-indent: 10px;
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: "Akronim", cursive;
}
