<template>
  <div class="card">
    <!-- <h4>Title</h4> -->
    <h4>{{ title }}</h4>
    <button class="btn-primary" @click="this.$emit('handleDetail', 1)">
      Detail
    </button>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["title"],
};
</script>

<style scoped>
.card {
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(158, 158, 158, 0.281);
}
.btn-primary {
  background-color: blue;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
</style>
